@font-face {
	src: url("../font/Howvetica-Aayp.ttf");
	font-family: "hel";
}

* {
	font-family: "hel";
}

.carousel-indicators button {
	height: 5px !important;
}

.carousel-indicators button.active {
	background-color: black !important;
}

.navbar {
	background-color: transparent !important;
	font-size: 12px;
	
}