@font-face {
	src: url("../font/Howvetica-Aayp.ttf");
	font-family: "hel";
}

ul {
    list-style: none;
    padding: 0;
}

* {
    font-size: 12px;
    font-family:'Nanum Gothic'; 
}

a { 
    text-decoration:none ; 
    color: black
}

h6 {
    font-weight:bold;
    font-family: 'hel'
}

img{
    margin: 20px;
}


    





